.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline !important;
}

.d-inline-flex {
    display: inline-flex !important;
}

.flex-column {
    flex-direction: column;
}

.is-hidden {
    display: none;
}
