.icon {
    width: 21px;
    height: 21px;

    &--map {
        background: url(../img/icons/map.svg) no-repeat center/100%;
    }
    &--phone {
        background: url(../img/icons/phone.svg) no-repeat center/100%;
    }
    &--share {
        background: url(../img/icons/share.svg) no-repeat center/95%;
    }
}
