$main: #3d3d3c;
$main-h: #000;


$main-l: #e74ca6;
$main-ll: #f7a4d4;
$main-lll: #f2cfde;

$main-d: #b41070;

$special-1: #e7003e;
$special-1-l: #f04d79;
$special-2: #038184;
$special-2-l: #0c9294;

$text: #3d3d3c;
$text-d: #555;
$text-l: #999999;
$text-ll: #ebebec;

$line-d: #dddddd;
$line-dd: #777;
$line-l: #d9d9d9;
$line-ll: #f1f1f1;

$body: #fcfcfc;

$bg-l: #f6f6f6;
$bg-ll: #f3f4f5;
$bg-d: #3d3d3c;

$overlay: rgba(43, 46, 56, 0.85);

$gap: 15px;
$gap-lg: 20px;
$t: all 0.15s ease-in-out;
$ls: 0.2em;

$cub1: cubic-bezier(0.61, -0.44, 0.29, 1.4);
$cub2: cubic-bezier(0.71, -0.4, 0.09, 0.99);
