.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: $text;
    font-weight: 500;
    letter-spacing: $ls-sm;
    font-size: 11px;
    padding: 1.15em 2em;
    background: #fff;
    border-radius: 0;
    border: 1px solid $text;
    transition: $t;
    line-height: 1.3;

    &:hover {
        background-color: $main;
        color: #fff;
    }
}

.btn--secondary {
    background-color: $main;
    color: #fff;

    &:hover {
        opacity: 1;
        background-color: $main-h;
    }
}

.btn--wide {
    min-width: 250px;
}

.btn--full {
    width: 100%;
}
