.control-select {
    width: 300px;
    text-align: right;
    padding: 15px;
    position: absolute;
    right: -10px;
    top: -15px;
    z-index: 100;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: #fff;
        box-shadow: 0 5px 7px rgba(27, 26, 26, 0.2);

        .control-select__option {
            display: flex;
        }

        &::after {
            display: none;
        }
    }

    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background: url(../img/icons/arrow-d.svg) no-repeat center/90%;
    }

    &__options {
        // display: flex;
        // flex-direction: column;
    }


    &__option {
        display: none;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: $ls;
        padding: 10px 0;
        background: none;
        cursor: pointer;
        justify-content: flex-end;
        border: none;
        text-align: right;
        width: 100%;
        color: $text-l;
        order: 1;

        &:hover {
            color: $text;
        }

        &.is-active {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: $text;
            order: 0;
            padding-right: 0;
        }
    }
}
