.data-rows {
    padding-top: 30px;
}

.data-row {
    border-bottom: 1px dotted $line-d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

    &__title {
        font-weight: 600;
        font-size: 15px;
    }

    &__btn {
        border: none;
        background-color: $bg-l;
        padding: 0.5em 1em;
        border-radius: 0;
        font-size: 14px;
        cursor: pointer;
        transition: $t;

        &:hover {
            background-color: $bg-d;
            color: #fff;
        }
    }
}
