.filter {

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: $ls;
        font-size: 12px;
        padding: 0.75em 0;
        border-bottom: 1px solid $line-d;
        cursor: pointer;
        user-select: none;

        &::after {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background: url(../img/icons/arrow-d.svg) no-repeat center/100%;
            transition: $t;
        }

        &.is-collapsed {
            // padding-bottom: 0;

            &::after {
                transform: rotate(180deg);
            }
            + .filter__content {
                max-height: 0;
                overflow: hidden;
            }
        }
    }

    &__content {
        margin-top: 20px;
        max-height: 210px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $line-d;
            border-radius: 10px;
            border: 2px solid #fff;
            transition: $t;

            &:hover {
                background-color: $line-dd;
            }
        }
    }
}

.filter-checkbox {
    display: flex;
    flex-direction: column;

    &__btn {
        border: none;
        background: none;
        width: 100%;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        text-align: left;
        padding: 0.6em 0;
        cursor: pointer;

        &:hover {
            color: $main-h;
            font-weight: 500;
        }

        &.is-active {
            padding-left: 20px;
            font-weight: 500;
            background: url(../img/icons/check.svg) no-repeat left -3px top 3px;
        }
    }

    &--colors {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 5px;
        row-gap: 5px;

        .filter-checkbox__btn {
            padding: 12px 0;
            height: 40px;
            border: 1px solid #fff;
            position: relative;
            box-shadow: 0 0 0 3px #fff inset;
            transition: $t;

            &:hover {
                border-color: $text-d;
            }

            &--white {
                background: #f9fbff;
            }

            &--biege {
                background: #f8f1e2;
            }

            &--lightblue {
                background: #97b3df;
            }

            &--yellow {
                background: #ffe54f;
            }

            &--green {
                background: #91c8a1;
            }

            &--brown {
                background: #944835;
            }

            &--red {
                background: #c1132b;
            }

            &--orange {
                background: #ffa216;
            }

            &--magenta {
                background: #ff90c7;
            }

            &--gray {
                background: #818a8c;
            }

            &--blue {
                background: #1e5b94;
            }

            &--purple {
                background: #8e28b6;
            }

            &--black {
                background: #1f1e1e;
            }

            &.is-active {
                background-image: none;
                border-color: $main-h;
            }
        }
    }
}
