.product {
    @media screen and (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: flex-start;
    }

    @media screen and (min-width: 1200px) {
        column-gap: 50px;
        grid-template-columns: minmax(200px, 700px) minmax(200px, 550px);
    }

    &__content {
        // border: 1px solid red;
        padding: 30px;
        position: sticky;
        top: 0;
    }

    &__header {
        border-bottom: 1px solid $line-d;

        @media screen and (min-width: 1200px) {
            display: flex;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__main {
        padding-bottom: 30px;
    }

    &__rating {
        display: flex;
        column-gap: 10px;
        align-items: center;
        font-size: 14px;
        color: $text-l;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: $ls-sm;
        font-weight: 500;
        justify-content: center;
        line-height: 1.6;

        @media screen and (min-width: 1200px) {
            justify-content: flex-start;
        }

        > span {
            width: 81px;
            height: 22px;
            background: url(../img/icons/star-empty.svg) repeat-x left center;
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 100%;
                position: absolute;
                background: url(../img/icons/star-filled.svg) repeat-x left center;
            }

            @for $i from 0 through 5 {
                &[data-rating="#{$i}"] {
                    &::after {
                        width: 20% * $i;
                    }
                }
            }
        }
    }

    &__sales {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: $ls-sm;
        font-weight: 500;
        text-align: center;
        line-height: 1.6;
        padding-top: 5px;

        @media screen and (min-width: 1200px) {
            text-align: left;
        }

        > span {
            color: $text-l;
        }
    }

    &__title {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 18px;

        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }

    &__price {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: $ls-sm;

        @media screen and (min-width: 1200px) {
            text-align: left;
        }

        &--discount {
            display: flex;
            column-gap: 10px;
            justify-content: center;
            color: $special-3;
            
            @media screen and (min-width: 1200px) {
                justify-content: flex-start;
            }
        }

        > span {
            color: $text;
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 120%;
                height: 1px;
                background-color: $text;
                position: absolute;
                top: 50%;
                left: -10%;
            }
        }
    }

    &__details {
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: $ls;
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        line-height: 1.4;
        padding-bottom: 20px;
        text-align: center;
        padding-top: 30px;

        @media screen and (min-width: 1200px) {
            border-left: 1px solid $line-d;
            text-align: left;
            padding-left: 30px;
        }
    }

    &__description {
        padding-top: 20px;
        margin-top: 10px;
        font-size: 15px;
        line-height: 1.5;
    }

    &__colors {
        display: flex;
        column-gap: 7px;
        row-gap: 7px;

        @media screen and (min-width: 600px) {
            column-gap: 9px;
            row-gap: 9px;
        }
    }

    &__color {
        border: 1px solid transparent;

        img {
            display: block;
        }
    }

    div.product__color {
        border: 1px solid $main;
    }

    a.product__color {
        transition: $t;
        &:hover {
            opacity: 0.8;
        }
    }

    &__sizes {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 10px;
    }

    &__size {
        border-radius: 0;
        border: 1px solid $line-d;
        background: #fff;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        padding: 7px 10px;
        cursor: pointer;

        &:hover {
            box-shadow: 0 2px 5px $line-d;
        }

        &.is-active {
            border-color: $main-h;
        }
    }

    &__params {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
        font-size: 14px;

        > li {
            border-bottom: 1px dashed $line-d;
            padding: 10px 0;
            text-transform: lowercase;

            &:last-child {
                border-bottom: none;
            }

            > span {
                font-weight: 500;
                padding-right: 10px;
            }
        }
    }
}

.product-slider {
    // border: 1px solid orange;
    display: flex;
    align-items: flex-start;
    column-gap: 20px;

    &__thumbs {
        display: none;
        position: sticky;
        top: 20px;
        margin-top: 20px;

        img {
            display: block;
        }

        @media screen and (min-width: 700px) {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    }

    &__thumb {
        display: block;
        border: 1px solid transparent;
        transition: $t;

        &:hover {
            opacity: 0.8;
        }

        &.is-active {
            border-color: $main-h;
            &:hover {
                opacity: 1;
            }
        }
    }

    &__content {
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;

        img {
            margin-top: 20px;
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.product-section {
    &__title {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: $ls;
        font-weight: 500;
        padding: 15px 0;

        > span {
            margin-right: auto;
            margin-left: 10px;
            font-weight: 400;
        }
    }

    &--collapsible {
        border-top: 1px solid $line-d;

        .product-section__title {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            user-select: none;
            padding: 15px 10px;
            cursor: pointer;

            &:hover {
                color: $main-h;
            }

            + .product-section__content {
                visibility: hidden;
                overflow: hidden;
                max-height: 0;
                pointer-events: none;
                transition: $t;
                opacity: 0;
                padding: 0 10px;
            }

            &.is-active {
                &::after {
                    transform: rotate(45deg);
                }

                + .product-section__content {
                    visibility: visible;
                    max-height: 10000px;
                    pointer-events: all;
                    opacity: 1;
                    padding: 5px 10px 30px 10px;
                }
            }

            &::after {
                transition: $t;
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                background: url(../img/icons/plus.svg) no-repeat center/100%;
            }
        }
    }
}

.product-shares {
    display: flex;
    column-gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 14px;
    }

    .product-share {
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 0;
        cursor: pointer;
        transition: $t;

        &:hover {
            filter: brightness(0.5);
        }

        &--tg {
            background: url(../img/social/tg.svg) no-repeat center/70%;
        }

        &--wa {
            background: url(../img/social/wa.svg) no-repeat center/70%;
        }

        &--vk {
            background: url(../img/social/vk.svg) no-repeat center/70%;
        }

        &--ma {
            background: url(../img/social/ma.svg) no-repeat center/70%;
        }

        &--ok {
            background: url(../img/social/ok.svg) no-repeat center/70%;
        }

        &--fb {
            background: url(../img/social/fb.svg) no-repeat center/70%;
        }
    }
}
